

<html>
  <head>
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
    <title>A Simple table db _ importing</title>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    
  </head>
<table style="display:inline-block;" border="1" class="mytable">
    <thead>
    </thead>
    
    <tbody>
    <tr>
      <th>id</th>
      <th>UserName</th>
      <th>Picture Name</th>
      <th>Category id</th>
      <th>title of the album</th>      
    </tr>        
    {%for h in hola%}
      <tr>
        <td>{{h.pic_id}}</td>
        <td>{{h.pic_username}}</td>
        <td>{{h.pic_filename}}</td>
        <td>{{h.pic_cat_id}}</td>
        <td>
          {%for c in albums%}
          {% if h.pic_cat_id == c.cat_id %}
            {{c.cat_title}}
          {% endif %}
          {%endfor%}
        </td>  
      </tr>    
    {%endfor%}
    </tbody>
</table>

<table style="float:right;" border="1">
  <caption></caption>
  <tbody>
  <tr>
    <th>username</th>
    <th>title</th>
    <th>content</th>
    <th>Category</th>
    
    </tr>        
  {%for b in posts%}
    <tr>
      <td>{{b.user_name}}</td>
      <td>{{b.title}}</td>
      <td>{{b.content}}</td>
      <td>{{b.category}}</td>
      
    </tr>    
  {%endfor%}
  </tbody>
</table>
<script>
  $(document).ready( function () {
    $('.mytable').DataTable();
} );
</script>